diamond               ICON    "pixmaps/diamond.ico"

#include "wx/msw/wx.rc"

check                 ICON    "pixmaps/check.ico"
send16                DIAMAP  "pixmaps/send16.bmp"
send16mask            DIAMAP  "pixmaps/send16mask.bmp"
send16masknoshadow    DIAMAP  "pixmaps/send16masknoshadow.bmp"
send20                DIAMAP  "pixmaps/send20.bmp"
send20mask            DIAMAP  "pixmaps/send20mask.bmp"
addressbook16         DIAMAP  "pixmaps/addressbook16.bmp"
addressbook16mask     DIAMAP  "pixmaps/addressbook16mask.bmp"
addressbook20         DIAMAP  "pixmaps/addressbook20.bmp"
addressbook20mask     DIAMAP  "pixmaps/addressbook20mask.bmp"
favicon               ICON    "pixmaps/favicon.ico"
